<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>产品详情页</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="renderer" content="webkit">
    <meta name="viewport" content="width=device-width,initial-scale=0.5, maximum-scale=0.5, minimum-scale=0.5, user-scalable=no">
    <meta name="theme-color" content="#00dbad">
    <link rel="stylesheet" href="css/public.css">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
<div class="mainwrapper homepage-wrapper" id="app">
    <div class="header">
        <div class="left-logo"><img src="images/logo.png" alt=""></div>
        <ul class="nav-list clearfix">
            <li><a href="./index.html">首页</a></li>
            <li><a href="./list.html">更多产品</a></li>
            <li><a href="./about-us.html">关于我们</a></li>
            <li class="actived"><a href="./service.html">服务与支持</a></li>
        </ul>
        <a href="https://www.jd.com/" class="right-btn-link" target="_blank">京东商城</a>
    </div>
    <div class="service-wrap">
        <div class="inner">
           <div class="wrap">
               <div class="tit">阿露思牧业产品销售门店查询</div>
               <div class="select-list">
                   <select v-model='prov' @change="changeCity();changeCity1()">
                       <option v-for="(item,i) in items">{{item.name}}</option>
                   </select>
                   <select v-model='city' @change="changeCity1">
                        <option v-for="(item,i) in cityArr">{{item.name}}</option>
                   </select>
                   <select v-model='city1'>
                       <option v-for="(item,i) in cityArr1">{{item.name}}</option>
                   </select>
               </div>
               <div class="info-block" v-show="prov==='请选择城市' || city1 === '广通南'">
                   <div class="left-txt">
                       <p>店名：阿露思兽药</p>
                       <p>位置：巴彦淖尔市乌拉特前旗阿露思兽药店，广通南菜市场北门斜对面。</p>
                       <p>电话：15847802536</p>
                   </div>
                   <div class="right-img">
                       <img src="./images/ewm.png" alt="">
                   </div>
               </div>
			   <div class="info-block" v-show="prov==='请选择城市' || city1 === '小平饭店'">
			       <div class="left-txt">
			           <p>店名：阿露思兽药</p>
			           <p>位置：巴彦淖尔市乌拉特中旗阿露思兽药店，小平饭店红绿灯南50米路西。</p>
			           <p>电话：15847802536</p>
			       </div>
			       <div class="right-img">
			           <img src="./images/ewm.png" alt="">
			       </div>
			   </div>
			   <div class="info-block" v-show="prov==='请选择城市' || city1 === '鲁北镇'">
			       <div class="left-txt">
			           <p>店名：阿露思兽药</p>
			           <p>位置：通辽市扎鲁特旗鲁北镇阿露思兽药店，旧汽车站西街。</p>
			           <p>电话：15847802536</p>
			       </div>
			       <div class="right-img">
			           <img src="./images/ewm.png" alt="">
			       </div>
			   </div>
           </div>
        </div>
    </div>
    <!--foot-->
    <div class="footer">
        <div class="inner-block">
            <img src="images/logo.png" alt="" class="bt-logo">
            <p>©2016 阿露思牧业有限责任公司 版权所有</p>
            <p> 联系电话：15847802536
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                技术支持：阿露思牧业
            </p>
        </div>
    </div>
    <!--foot end-->
</div>

<script src="js/jquery-1.10.2.js"></script>
<script src="js/flex.js"></script>
<script src="js/fastclick.js"></script>
<script src="js/swiper-6.4.15.jquery.min.js"></script>
<script src="js/public.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper('.swiper-container', {
        autoplay: {
            delay: 3000,
            stopOnLastSlide: false,
            disableOnInteraction: true,
     },
        pagination: {
            el: '.swiper-pagination',
        },
    });
</script>
<script>
    var id=1;
    new Vue({
        el:'#app',
        data:{
            prov:'请选择城市',
            city:'请选择区域',
            city1:'请选择城镇',
            items:[
                {name:'请选择城市',
                    sub:[
                        {name:'请选择区域',sub:[{name:'请选择城镇'}]},
                    ]
                },
                {name:'巴彦淖尔市',
                    sub:[
                        {name:'乌拉特前旗',sub:[{name:'广通南'}]},
                        {name:'乌拉特中旗',sub:[{name:'小平饭店'}]},
                    ]
                },
                {name:'通辽市',
                    sub:[
                        {name:'扎鲁特旗',sub:[{name:'鲁北镇'}]},
                    ]
                }
            ],
            cityArr:[],
            cityArr1:[]
        },
        mounted:function(){//执行默认选择
            this.changeCity();
            this.changeCity1();
        },
        methods:{
            changeCity:function(){//省切换
                var me=this;
                var item ;
                me.items.forEach(function(ele){
                    if(ele.name===me.prov){//判断与prov是否相等，相等的表示被切换选中的省份
                        item = ele;
                    }
                })
                if(item){
                    this.cityArr=item.sub;//将选中的item的sub设置给cityArr 用于显示市
                    this.city=item.sub[0].name;//默认选择第一个市

                    this.cityArr1=[];
                    this.city1='';
                }

            },
            changeCity1:function(){//市切换
                var me=this;
                var item ;
                me.cityArr.forEach(function(ele){
                    if(ele.name===me.city){//判断与city是否相等，相等的表示被切换选中的市
                        item = ele;
                    }
                })
                if(item){
                    this.cityArr1=item.sub;//将选中的item的sub设置给cityArr1 用于显示区
                    this.city1=item.sub[0].name;//默认选择第一个区
                }
            }
        }
    })
</script>
</body>
</html>